
header{
    /* header color and size */
    position: relative;
    width: 100%;
    top: 0;
    height: 100px;
    margin-bottom: 50px;
    background-color:aquamarine;

    /* set font and font color */
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: right; */
    color: black;
}

header h1{
    font-size: 50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: inline-block;
    padding-left: 80px;
    padding-right: 20px;
    
}

/* .nq-nav{

    text-align: left;
    border-radius: 10px;
    border: solid;
    border-color: orange;
    background-color: white;
    width: 2.5rem;
    

} */

/* changed header div to header nav so that the nav is affected */
header nav {
    padding-top: 15px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}


header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none; }

main{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside{
    border-right: 5px;
    border-right-style: solid;
    border-right-color: black;
    margin-bottom: 20px;

}

.nq-bio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* setting the p setting sfor the header */
.nq-bio p{
   padding: 10px;
    
}

/* the image settings for .nq-bio */
.nq-bio img{
    margin-left: 400px;
    border-color: black;
    border: 5px solid;
}

.my-works{

    /* setting the flexbox settings for the projects in the body/sections */
    display: flex;
    flex-wrap: wrap;
    flex-direction: right;
    justify-content: center;
    height: auto;
    width:auto;
    margin-left: 50px;
    margin-right: 50px;
    gap: 200px;
    row-gap: 50px;
}

/* setting the flexbox for the projects that are going in main */
.project1,
.project2,
.project3,
.project4,
.project5 {
    display: inline;
    justify-content: space-evenly;

} 

.project1 img{

    align-self: center;
}

/* making all images smaller than project 1 */
.project2 img,
.project3 img,
.project4 img,
.project5 img{

    width: 300px;
    height: 200px;
}



footer {
    /* footer position */
    margin-top: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: left;
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    color: white;

}

footer ul{
    padding: 5px;
}

footer ul li{
    display: inline-block;
    margin-left: 50px;
    list-style-type: none;
    
}

footer ul li a{

    color: white;
}